1. This computer system and all the components (including virtual components) is the property of Tata Consultancy Services (TCS) and is intended solely for the usage of employees and authorized clients of TCSin accordance with its policies as may be in force from time to time. Unauthorized access or use of thisystem may attract legal action, criminal and/or civil.
2. This system may be monitored in accordance with TCS security policy.
3. By using or accessing this system, you hereby expressly consent to (a) be bound by all policies and regulations of TCS then in existence concerning the use and/or access of this system; and b) abide by all directions given by TCS concerning the use and/or access of this system; and (c) TCS or its agents or representatives may monitor your activities while you are using or accessing this system (including any data that is transmitted by you) and this will not violate your privacy rights; and (d) be liable for any loss, damages or expenses that may be caused to or suffered by TCS due to your use and/or access of this system and you agree to indemnify TCS against all such losses, damages or expenses that may occur due to your use and/or access of this system.
4. In all matters related to the usage and/or access of this system, the laws of India shall be the governing law and the courts at Mumbai, India shall have exclusive jurisdiction in all matters related thereto.
5. This system and the contents hereof are the sole and exclusive property of TCS and may not be reproduced, stored, copied or archived in any manner whatsoever either in full or in parts without the prior express consent of TCS. TCS reserve all rights not expressly granted by TCS in writing.
6. If you do not agree to any of the terms above, then do not use and/or access this system.
